name: renovate-bot-run

on:
  workflow_call:
    # inputs:
    #   renovate_repository_filter:
    #     description: 
    #       "This fills the setting autodiscoverFilter of renovate. The name of the repository from which the job was called should be written here, according to the scheme 'simatic-ax/repository_name'"
    #     required: true
    #     type: string

jobs:
  renovate:
    runs-on: ubuntu-24.04
    container: 
        image: ghcr.io/renovatebot/renovate:37.440
        options: --user root

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
            ref: ${{ github.ref }}
            
      - name: Create .npmrc
        shell: bash
        run: |
          NPMRC_CONTENT=$(curl -f -H "Authorization: bearer ${{ secrets.APAX_TOKEN }}" "https://api.simatic-ax.siemens.io/apax/login?format=npmrc" | sed 's/registry=/@ax:registry=/')
          NPMRC_CONTENT="${NPMRC_CONTENT}"$'\n'"@simatic-ax:registry=https://npm.pkg.github.com/"
          NPMRC_CONTENT="${NPMRC_CONTENT}"$'\n'"//npm.pkg.github.com/:_authToken=${{ secrets.GITHUB_TOKEN }}"
          export RENOVATE_NPMRC="${NPMRC_CONTENT}"

      
      - name: Self-hosted Renovate
        shell: bash
        run: renovate
        env:
          RENOVATE_CONFIG_FILE: "Global-Config/renovate-global-config.js"
          LOG_LEVEL: "debug"
          RENOVATE_TOKEN: ${{ secrets.GITHUB_TOKEN }}