name: manual-renovate-bot-trigger

on:
  workflow_dispatch:

jobs:
  manual-renovate-call:
    uses: ./.github/workflows/renovate-bot-run.yml
    secrets: inherit
    with:
        renovate_repository_filter: "simatic-ax/*"
